extends layout.pug

block content

  article.portfolio-intro

   
    h1 My Portfolio

    
    p This portfolio showcases my skills and experiences as a Full Stack Javascript Developer.Please explore my projects below.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      
      each project in projects 
        .cell 
          a(href=`/project/${project.id}`)
              img.thumbnail(src=`${project.image_urls[0]}` alt='Image of project')
              h5 #{project.project_name}